<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Cloud Movie</title>
<script type="text/javascript" src="webjars/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<ul class="nav navbar-nav">
			<li><a><span class="glyphicon glyphicon-globe"></span></a></li>
			<li><a href="?locale=ko_KR">한국어</a></li>
			<li><a href="?locale=en_US">ENGLISH</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</nav>
	<div class="container">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 th:text="${welcome}">Welcome to Cloud Movie</h1>
				<p th:text="${session.title}" th:unless="${session == null}">[...]</p>
			</div>
		</div>

		<!-- form
		<div class="page-header">
			<h1>Movie</h1>
		</div>
		<form th:action="@{/contents}" class="form-horizontal" method="post">
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">Movie Title</label>
				<div class="col-sm-10">
					<input type="text" id="title" name="title" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="director" class="col-sm-2 control-label">Director</label>
				<div class="col-sm-10">
					<input type="text" id="director" name="director" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="year" class="col-sm-2 control-label">Year</label>
				<div class="col-sm-10">
					<input type="text" id="year" name="year" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="genre" class="col-sm-2 control-label">Genre</label>
				<div class="col-sm-10">
					<input type="text" id="genre" name="genre" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Add</button>
				</div>
			</div>
		</form>
     -->
     
		<!-- list -->
		<div class="page-header">
			<h1>Movie List</h1>
		</div>
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>No.</th>
						<th>Movie Title</th>
						<th>Director</th>
						<th>Year</th>
						<th>Genre</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tr th:if="${contents?.empty}">
					<td colspan="7" align="center">No Data.</td>
				</tr>
				<tr th:each="content : ${contents}">
					<td th:text="${content.id}">1</td>
					<td th:text="${content.title}">Inception</td>
					<td th:text="${content.director}">Christopher Jonathan James Nolan</td>
					<td th:text="${content.year}">2010</td>
					<td th:text="${content.genre}">Thriller</td>
					<td>
						<form th:method="get" th:action="@{/contents/{id}(id=${content.id})}">
							<button type="submit" id="doGet" class="btn btn-default" name="btn_get">View</button>
						</form>
					</td>
					<td>
						<form th:method="delete" th:action="@{/contents/{id}(id=${content.id})}">
							<button type="submit" id="doDelete" class="btn btn-danger" name="btn_delete">Delete</button>
						</form>
					</td>
				</tr>
			</table>
		</div>
    <div class="page-footer">
      <div class="form-group">
        <div class="col-sm-10">
          <a href="/add"><button type="button" class="btn btn-primary">Add</button></a>
        </div>
      </div>
    </div>		
	</div>
</body>
</html>